<% content_for :heading do %>
Register
<% end %>

<%= form_for @user, url: {action: "create"} do |form| %>

<% flash.each do |key, value| %>
    <div class = "<%= key %>"><%= value %> </div>

<% end %>


<% if @user.errors.any? %>
<%= pluralize(@user.errors.count, "error") %> detected.
<div class ="errors">
   <% @user.errors.full_messages.each do |msg| %>
   <%= msg %><br />
   <% end %>
</div>
<br />
<% end %>


<%= form.label :username, "Desired Username" %>
<%= form.text_field :username, autocomplete: :off %>

<br />

<%= form.label :email, "Your .edu e-mail" %>
<%= form.text_field :email, autocomplete: :off %>

<br />

<%= form.label :password %>
<%= form.password_field :password %>

<br />

<%= form.label :password_confirmation %>
<%= form.password_field :password_confirmation %>

<br />
<br />

<%= form.submit "Submit" %>
<% end %>
